body {
    font-family: Arial, sans-serif;
    margin: 0px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: lightcoral; 
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  section {
    width: 60%;
    margin: 20px;
    padding: 20px;
    text-align: left;
  }

  .echeancier
  {
    margin-top: 50px;
    margin: 50px auto 50px auto;
    width: 1250px;
    height: 700px;
    background-image: url("../images/Échéancier.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .template_img {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    width: fit-content;
  }
  .h1-echeancier
  {
    margin-top: 50px;
    text-align: center;
  }

  .echeancier-commentaire
  {
    text-align: center;
    margin-bottom: 50px;
  }